# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Application
NODE_ENV=production
PORT=3333
JWT_SECRET=

# Redis
REDIS_URL=redis://redis:6379

# Monitoring (opcional - para integrar com stack existente)
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
GRAFANA_SECRET_KEY=
